body {

}
#Inbound-List{
	list-style-type: none;
}
#Outbound-List{
	list-style-type: none;
}
li {
	width: 236px;
}
#Line{
  float: left;
}
#Time{
	float: left;
	width: 200;	
	}
#GearImage{
  height:50px;
  padding-right: 6px;
  float: right;
}
#ButtonSection{
  padding-top: 20px;
}
button.link { background:none;border:none; }
.StartTime{
	font: bold 34px Arial, sans-serif	
	}
.EndTime{
	font: italic 12px Arial, sans-serif
	}
.circleOnTime
    {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

	float: right;
    width: 28px;
    height: 28px;
    padding: 8px;

    border: 6px solid #669900;
    color:#669900;
    text-align: center;

    font: bold 24px Arial, sans-serif
    }
.circleOnTimeSmall
    {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

	float: right;
    width: 28px;
    height: 28px;
    padding: 8px;

    border: 6px solid #669900;
    color:#669900;
    text-align: center;

    font: bold 24px Arial, sans-serif
    }
.circleLate
    {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
	
	float: right;
    width: 28px;
    height: 28px;
    padding: 8px;

    border: 6px solid #CC4040;
    color:#CC4040;
    text-align: center;

    font: bold 24px Arial, sans-serif
    }
.circleLateSmall
    {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);
	
	float: right;
    width: 28px;
    height: 28px;
    padding: 8px;

    border: 6px solid #CC4040;
    color:#CC4040;
    text-align: center;

    font: bold 24px Arial, sans-serif
    }